@model OlineAuctionMarketing.Models.DTO.Bidder.CreateBidsRequestModel

<div class="form-container">

    <div id="Data-form">

        <div class="row">

            <h1>Add new Bidder</h1>

            <hr />
            <div class="col-md-4">
                <form asp-action="CreateBidder">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" type="text" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" type="text" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" type="phoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" type="text" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" type="text" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>


                    <input type="submit" value="Create" class="btn btn-success" />
                </form>
            </div>


        </div>
    </div>

</div>
</main>

