@model OlineAuctionMarketing.Models.DTO.Category.CategoryResponseModel

<h1>Categories Information.</h1>

<div class="form-container">

    <div id="Data-form">


        <div class="container1">
            <div>
                <form asp-action="Edit">

                    <div class="form-group" hidden>
                        <input asp-for="Data.Id" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Data.Name" class="control-label"></label>
                        <input asp-for="Data.Name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Data.Description" class="control-label"></label>
                        <input asp-for="Data.Description" class="form-control" />
                    </div>


                    <div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <a asp-action="Index" class="btn btn-warning">Back to List</a>

                    </div>
                </form>
            </div>
        </div>

    </div>
