@model OlineAuctionMarketing.Models.DTO.Users.UserResponseModel

<h1>Auctioneer Information.</h1>

<div class="form-container">

    <div id="Data-form">


        <div class="container1">
            <div>
                <form asp-action="Update">

                    <div class="row gx-3 mb-3">

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputOrgName">Password</label>
                            <input class="form-control" asp-for="Data.Password">
                        </div>

                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLocation">Confirm Password</label>
                            <input class="form-control" asp-for="Data.CPassword">
                        </div>
                    </div>

                    <div class="form-group" hidden>
                        @*<label asp-for="Data.Id" class="control-label"></label>*@
                        <input asp-for="Data.Id" class="form-control" />
                    </div>

                  
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-action="Index" class="btn btn-warning">Back to List</a>

                    </div>
                </form>
            </div>

        </div>








  
